bin/*
!bin/.gitignore

data/annotation/uniref50-bacteria.*

staphopia/*.pyc
staphopia/helpers/*.pyc
staphopia/tasks/*.pyc

test/test-pipeline
test-data/test_genome.fastq.gz

.DS_Store
._.DS_Store
bin/pipelines/._run_fastq_cleanup
.ruffus_history.sqlite

# Downloaded tools
tools.tar
tools/*/build
tools/aspera-connect/
tools/assemblathon-stats/
tools/barrnap/
tools/bbmap/
tools/bedtools/
tools/blast+/
tools/bowtie2/
tools/bwa/
tools/fastq-validator/
tools/gatk/
tools/java7/
tools/java8/
tools/jellyfish/
tools/picard-tools/
tools/prokka/
tools/samtools-0.1.18/
tools/samtools/
tools/spades/
tools/sra-toolkit/
tools/srst2/
tools/trimmomatic/
tools/vcf-annotator/
